{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}

{% block content %}
    <section id="department">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> Department</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-laptop"></i><a href="index.html">Department</a></li>
                <li class="active"><i class="fa fa-plus"></i>Add New</li>
            </ol>
        </div>
        <form action="{{ path('department-add') }}" method="post" class="col-md-4 col-sm-12">
            <div class="form-group input-field">
                <label for="department">Department name</label>
                <input type="text" class="form-control" id="department" name="department_name"/>
            </div>
            <div class="form-group">
                <label for="users">Choose users for department (hold ctrl for multiple select)</label>
                <select class="form-control" name="users[]" id="users" multiple>
                    {% for employees in employeesNoDep %}
                        <option value="{{ employees.getId }}">{{ employees.getName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add Department</button>
            </div>
        </form>
        {#-------------------Statistics---------------------#}
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-laptop"></i>
                        <div class="count">{{ departments|length }}</div>
                        <div class="title">Departments</div>
                    </div><!--/.info-box-->
                </div><!--/.col-->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-users"></i>
                        <div class="count">{{ employees|length }}</div>
                        <div class="title">Employees Total</div>
                    </div><!--/.info-box-->
                </div><!--/.col-->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-ban"></i>
                        <div class="count">{{ employeesNoDep|length }}</div>
                        <div class="title">Unassigned Employees</div>
                    </div><!--/.info-box-->
                </div><!--/.col-->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <i class="fa fa-cubes"></i>
                        <div class="count">1.426</div>
                        <div class="title">Stock</div>
                    </div><!--/.info-box-->
                </div><!--/.col-->
            </div>
        </div>
        {#-------------------Statistics End---------------------#}
        {#<div class="col-md-12">#}
            <div class="row">
                {% for department in departments %}
                    {%  if department.getEmployees|length > 0  %}
                        <div class="col-sm-12 portlets clearfix">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"> {{ department.getName }}</div>
                                    <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                                        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Email</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for employee in department.getEmployees %}
                                            <tr>
                                                <td>{{ employee.getId }}</td>
                                                <td>{{ employee.getName }} </td>
                                                <td>{{ employee.getPosition }}</td>
                                                <td>{{ employee.getEmail }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {#</div>#}
    </section>
{% endblock %}

{% block customScripts %}
{% endblock %}
