{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}
    <style xmlns="http://www.w3.org/1999/html">
        .add-new-task{
            margin: 0;
            padding-top: 0;
        }
        #description{
            resize: vertical;
        }
        .bootbox.modal .modal-content{
            border:none;
            background-color: #E5606A;
            color:#fff;
        }
        .bootbox.modal .bootbox-close-button{
            color:#fff;
            opacity: 0.9;
        }
        .picker__nav--prev, .picker__nav--next{
            top:0;
        }
        .picker__nav--prev:hover, .picker__nav--next:hover{
            cursor: pointer;
            color: #fff;
            background: #6BBEF6;
        }
        .material-btn{
            background-color: #E5606A;
            position: absolute;
            bottom: 50px;
            right: 50px;
        }
        .material-btn:hover{
            background-color: #ff6872;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="tasksd" class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-tasks"></i> Tasks</h3>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-folder-open"></i><a href="index.html">Tasks</a></li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="panel-group m-bot20" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="add-new-task">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <i class="fa fa-plus"></i>Add new task
                            </a>
                        </header>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <div class="form-group input-field col-md-3">
                                <label for="taskTitle">Task Title</label>
                                <input type="text" id="taskTitle" class="form-control"/>
                            </div>
                            <div class="form-group col-md-3">
                                {#<label for="dateFrom">Date From</label>#}
                                <input type="date" id="dateFrom" class="datepicker" placeholder="Date From"/>
                            </div>
                            <div class="form-group col-md-3">
                                {#<label for="dateTo">Date to</label>#}
                                <input type="date" id="dateTo" class="datepicker" placeholder="Date To"/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="employees">Select Employees</label>
                                <select name="employees" id="employees" class="form-control" multiple>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description">Description</label>
                                <textarea type="text" id="description" class="form-control"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button class="btn btn-success" id="saveTask">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="fa fa-tasks"></i> Task</th>
                        <th><i class="fa fa-calendar"></i> Date from</th>
                        <th><i class="fa fa-calendar"></i> Date to</th>
                        <th><i class="fa fa-user"></i> Assignee</th>
                        <th><i class="fa fa-info"></i> Status</th>
                        <th class="text-center"><i class="fa fa-pencil"></i> Actions</th>
                    </tr>
                    {% for task in tasks %}
                        <tr id="{{ task.id }}">
                            <td>{{ task.title }}</td>
                            <td>{{ task.createdAt|date("F d, Y") }}</td>
                            <td>{{ task.finishDate|date("F d, Y") }}</td>
                            <td>{% for user in task.users%}{{ user.name }}<br/>{% endfor %}</td>
                            {#<td>{{ task.status }}%</td>#}
                            <td><div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.status }}%">
                                        <span class="sr-only">{{ task.status }}% Complete (success)</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                    {#<a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>#}
                                    <a class="btn btn-danger remove-task" href="#"><i class="fa fa-ban"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light accordion-toggle collapsed material-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <i class="fa fa-plus"></i>
        </a>
    </section>
{% endblock %}
{% block customScripts %}
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        var title = $('#taskTitle').val();
        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var description = $('#description').val();
        var employees = $('#employees').val();

        $('#saveTask').on('click', function(){
            var title = $('#taskTitle').val();
            var dateFrom = $('#dateFrom').val();
            var dateTo = $('#dateTo').val();
            var description = $('#description').val();
            var employees = $('#employees').val();
            $.post("{{ path('json_tasks_add')}}", {title:title, dateFrom:dateFrom, dateTo:dateTo, description:description, employees:employees}, function(data){
                Materialize.toast('Task successfuly saved!', 4000)
            });

        });

        $('.remove-task').on('click', function(e){
            var self =$(this);
            e.preventDefault();
            bootbox.confirm("Are you sure?", function(result) {
                if(result==true){
                    var id = self.parent().parent().parent().attr('id').toString();
                    $.post("{{ path('json_tasks_remove')}}", { taskId:id }, function(data){
                        self.parent().parent().parent().remove();
                    });
                }
                else{

                }
            });

        });
    </script>
{% endblock %}
