{% set notifications =  notifications() %}
<header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
    </div>

    <!--logo start-->
    <a href="{{ path('homepage') }}" class="logo"><img src="{{ asset('Base/img/logox64.png') }}" alt=""/></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="fa fa-tasks">
                                {% if app.user.tasks|length > 0 %}
                                    <span class="badge bg-important">{{ app.user.tasks|length }}</span>
                                {% endif %}
                        </span></a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">You have {{ app.user.tasks|length }} pending tasks</p>
                    </li>
                    {% for task in app.user.tasks %}
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">{{ task.title }}</div>
                                    <div class="percent">{{ task.status }}%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar {% if task.status < 30  %}progress-bar-danger{% elseif task.status < 60 %}progress-bar-warning {% else %}progress-bar-success {% endif %}" role="progressbar" aria-valuenow="{{ task.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.status }}%">
                                        <span class="sr-only">{{ task.status }}% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}

                    <li class="external">
                        <a href="#">See All Tasks</a>
                    </li>
                </ul>
            </li>
            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->
            {#<li id="mail_notificatoin_bar" class="dropdown">#}
            {#<a data-toggle="dropdown" class="dropdown-toggle" href="#">#}
            {#<i class="fa fa-envelope"></i>#}
            {#<span class="badge bg-important">5</span>#}
            {#</a>#}
            {#<ul class="dropdown-menu extended inbox">#}
            {#<div class="notify-arrow notify-arrow-blue"></div>#}
            {#<li>#}
            {#<p class="blue">You have 5 new messages</p>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">#}
            {#<span class="photo"><img alt="avatar" src="http://www.thebalsagroup.org/wp-content/uploads/2014/10/Five-Promotional-Items-For-the-Savvy-Businessman.png"></span>#}
            {#<span class="subject">#}
            {#<span class="from">Greg  Martin</span>#}
            {#<span class="time">1 min</span>#}
            {#</span>#}
            {#<span class="message">#}
            {#I really like this admin panel.#}
            {#</span>#}
            {#</a>#}
            {#</li>#}
            {#</ul>#}
            {#</li>#}
            <!-- inbox notificatoin end -->
            <!-- alert notification start-->
            <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <i class="fa fa-bell"></i>
                    {% if notifications|length >0 %}
                        <span class="badge bg-important">{{ notifications|length }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu extended notification">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">You have {{ notifications|length }} new notification</p>
                    </li>
                    {% for notification in notifications %}
                        {% if notification.video_heading %}
                            <li data-id = "{{ notification.videoId }}" class="notification-li" data-type ="video" data-notificationId = {{ notification.id }}>
                        {% endif %}
                        {% if notification.link_heading %}
                        <li data-id = "{{ notification.linkId }}" class="notification-li" data-type ="link" data-notificationId = {{ notification.id }}>
                        {% else %}
                            <li data-id = "{{ notification.articleId }}" class="notification-li"  data-type="article" data-notificationId = {{ notification.id }}>
                        {% endif %}
                        <a href="#">
                            <div class="avatar-notification">
                                {% if notification.path %}
                                    <img alt="" src="{{ notification.path }}" alt="avatar">
                                {% else %}
                                    <img alt="" src="http://eventraveler.com/images/avatar.png" alt="avatar">
                                {% endif %}
                            </div>
                           <span><span class="text-danger">{{ notification.username }}</span> Commented on your
                               {% if notification.video_heading %} video
                                   <span class="text-danger">{{ notification.video_heading }}</span>
                               {% endif %}
                               {% if notification.article_heading %} article
                                   <span class="text-danger">{{ notification.article_heading }}</span>
                                {% else %}link
                                   <span class="text-danger">{{ notification.link_heading }}</span>
                               {% endif %}
                           </span>
                            <span class="small italic pull-right">{{ notification.createdAt|time_diff }}</span>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- alert notification end-->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                {% if app.user.profileImg is not null %}
                                    <img alt="" src="{{ app.user.profileImg.getWebPath }}" alt="avatar">
                                {% else  %}
                                    <img src="http://eventraveler.com/images/avatar.png" alt="avatar"/>
                                {% endif %}
                            </span>
                    <span class="username">{{ app.user.name }}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                        <a href="{{ path('user-profile', {id:app.getUser().id })}}"><i class="icon_profile"></i> My Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a class="" href="{{ path('homepage') }}">
                    <i class="fa fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('department-main') }}" class="menu-item">
                    <i class="fa fa-laptop"></i>
                    <span>Departments</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('tasks_main') }}" class="menu-item">
                    <i class="fa fa-tasks"></i>
                    <span>Tasks</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="menu-item">
                    <i class="fa fa-file-text-o"></i>
                    <span>Articles</span>
                    <span class="caret"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{ path('article-main') }}"><i class="fa fa-eye"></i>View All</a></li>
                    <li><a class="" href="{{ path('article-add') }}"><span><i class="fa fa-plus"></i>Add new</span></a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#" class="menu-item">
                    <i class="fa fa-video-camera"></i>
                    <span>Video</span>
                    <span class="caret"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{ path('video-main') }}"><i class="fa fa-eye"></i>View All</a></li>
                    <li><a class="" href="{{ path('video-add') }}"><span><i class="fa fa-plus"></i>Add new</span></a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#" class="menu-item">
                    <i class="fa fa-link"></i>
                    <span>Link</span>
                    <span class="caret"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{ path('link-main') }}"><i class="fa fa-eye"></i>View All</a></li>
                    <li><a class="" href="{{ path('link-add') }}"><span><i class="fa fa-plus"></i>Add new</span></a></li>
                </ul>
            </li>
            <li>
                <a  href="{{ path('category_main') }}" class="menu-item">
                    <i class="fa fa-folder-open"></i>
                    <span>Categories</span>
                </a>
            </li>
            <li>
                <a  href="{{ path('questions-main') }}" class="menu-item">
                    <i class="fa fa-question"></i>
                    <span>Questions</span>
                </a>
            </li>
            <li>
                <a  href="{{ path('user-profile', {'id':app.getUser().id}) }}" class="menu-item">
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a class="menu-item"href="#">
                    <i class="fa fa-code"></i>
                    <span>Code Post</span>
                    <span class="caret"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{ path('json-code-all') }}"><i class="fa fa-eye"></i>All </a></li>
                    <li><a class="" href="{{ path('code_add') }}"><i class="fa fa-plus"></i>Add new</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
