{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}
    <style>
        .spaceWrap {
            margin: 0 auto;
            width: 80%;
            height: 225px;
            padding: 0;
            overflow: hidden;
        }

        .viewPort {
            margin-top: 10px;
            width: 1380px;
            height: 680px;
            border: 1px solid white;
        }

        .viewPort {
            -webkit-transform: scale(0.25);
            -webkit-transform-origin: 0 0;
        }
        .iframe-holder{
            max-width: 450px;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="dashboard">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-code"></i> Code</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-code"></i><a href="{{ path('article-main') }}">Code</a></li>
            </ol>
        </div>
        {% for code in codes %}
                <div class="col-md-6 col-lg-4">
                    <div class="card card-video-holder iframe-holder">
                        <div class="card-image waves-effect waves-block waves-light spaceWrap">
                            <iframe  class="viewPort" id="iframe{{ code.codeSnippetId }}" src="{{ path('codePreview', {id:code.codeSnippetId}) }}"></iframe>
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 card-heading"><a href="{{ path('code_main', {id:code.codeSnippetId}) }}">{{ code.heading }}</a>
                            <button class="btn-floating btn-large waves-effect waves-light right"><i class="fa fa-ellipsis-v right"></i></button></span>
                            {#<p><a href="{{ video.link|replace({'/embed/':'/watch/'}) }}">{{ video.link|replace({'/embed/':'/watch/'})  }}</a></p>#}
                            <span class="date right">{{ code.createdAt | date("F d, Y")  }}</span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ code.userId.username }}
                            <i class="fa fa-times right"></i></span>
                            {#<p>{{ video.description }}</p>#}
                            <hr/>
                            <span><b>tags:</b>{{ code.tags }}</span>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
{% block customScripts %}

{% endblock %}

