{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}
{% block content %}
    <section id="dashboard">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-code"></i> Code</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-code"></i><a href="{{ path('article-main') }}">Code</a></li>
            </ol>
        </div>
        {% for code in codes %}
                <div class="col-md-6 col-lg-6">
                    <div class="card card-video-holder">
                        <div class="card-image waves-effect waves-block waves-light">

                            <iframe srcdoc="{{ code.html }}" id="iframe{{ code.codeSnippetId }}"></iframe>
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 card-heading">{{ code.heading }}
                            <button class="btn-floating btn-large waves-effect waves-light right"><i class="fa fa-ellipsis-v right"></i></button></span>
                            {#<p><a href="{{ video.link|replace({'/embed/':'/watch/'}) }}">{{ video.link|replace({'/embed/':'/watch/'})  }}</a></p>#}
                            <span class="date right">{{ code.createdAt | date("F d, Y")  }}</span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ code.userId.username }}
                            <i class="fa fa-times right"></i></span>
                            {#<p>{{ video.description }}</p>#}
                            <hr/>
                            <span><b>tags:</b>{{ code.tags }}</span>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
{% block customScripts %}
    <script rel="script">
        {% for code in codes %}
        var identifier = "iframe";
        identifier =identifier.concat({{  code.codeSnippetId  }});
        var style = document.createElement("style");
        console.log(style);
        ($('#iframe'+{{  code.codeSnippetId  }}).contents().find("head"))[0].appendChild(style);

        {% endfor %}
    </script>

{% endblock %}

